.dialogs {
    padding:5px;
    margin: 15px;
    display: grid;
    grid-template-columns: 300px 10fr;
    grid-template-areas:
    "dn dm"
    "dn tx  ";
    grid-gap: 10px;

}
.textarea{
    display: inline;
    grid-area: tx;
}