.button{
    border: 1px solid black;
    background: cornflowerblue;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
.button:hover{
    background: pink;
}
.button:active{
    color: red;
}
