.button{
    border: 1px solid black;
    background: cornflowerblue;
    border-radius: 5px;
    margin: 15px;
    padding: 3px;
    grid-area: button;
    width: max-content;
    height: max-content;


}
.button:hover{
    background: pink;
}
.button:active{
    color: red;
    background: lightskyblue;
}
