.users{
    padding: 5px;
}
.users img{
    width: 80px;
    padding: 5px;
    border-radius: 50px;
}
.user_block{
    padding: 5px;
    margin: 5px;
    border: 1px black solid;
    display: block;
}
.selectedPage{
    font-weight: bold;
}
.pageNumbers {
    width: 200px;
    border: 1px solid black;
    padding: 3px;
    margin: 5px;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: clip; /* Обрезаем все, что не помещается в область */
    background: lightskyblue; /* Цвет фона */
    text-overflow: ellipsis; /* Добавляем многоточие */
}
