.dialogs_message_in{
    padding: 5px;
    background: gray;
    margin: 10px;
    border: 1px solid black;
    height: max-content;
    width: max-content;
    text-align: center;

}
.avatar{
    width: 70px;
    height: 40px;
    border: 1px solid black;

}


