
.header {
    background: cadetblue;
    grid-area: header;
    border: 1px solid black
}

.header img {
    margin: 5px;
    width: 50px;
}
.loginBlock{
    float: right;
}
.loginBlock a{
    color: white;
}
.avatar{
    float: left;
    width: max-content;
    height: 30px;
    border: 1px solid black;
}