
.dialogs_messages{
    border: 1px solid black;
    height: max-content;

    grid-area: dm;

}
.dialogs_message{
    padding: 5px;
    background: gray;
    margin: 10px;
    border: 1px solid black;
    height: max-content
}

