.app-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "header header header"
    "nav content content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.nav {
    background: cornflowerblue;
    grid-area: nav;
    border: 1px solid black
}

.header {
    background: cadetblue;
    grid-area: header;
    border: 1px solid black
}

.header img {
    width: 50px;
}

.content {
    background: lightskyblue;
    grid-area: content;
    border: 1px solid black
}

.content div img {
    grid-area: ava;
    margin: 5px;
    width: 100%;
    height: 300px;
    border: 1px solid black
}

.avatar-description {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
    'ava name discription';
    margin: 5px;
    padding: 5px;
    border: 1px solid black;

}

.avatar-description div img {
    width: 100px;
    height: 100px;
}

.main-content {
    margin: 5px;
    padding: 5px;
    border: 1px solid black

}

.name {
    grid-area: name;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    font-size: large;

}

.description {
    grid-area: discription;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}

.my-posts {
    border: 1px solid black;
}
.my-posts textarea{
    margin: 5px;
}

