.appWrapper {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "header header header"
    "nav content content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 11fr;
    grid-gap: 10px;
}
.content {
    background: lightskyblue;
    grid-area: content;
    border: 1px solid black
}





