.post {
    display: grid;
    grid-template-columns: 1fr 11fr;
    /*grid-template-rows:6fr 6fr;*/
    grid-template-areas:
    "ava postM postM"
    "ava blc blc";
    grid-gap: 10px;

    margin-top: 5px;
    border: 1px solid black;
    background: bisque;
    height: auto;

}
.button_likes_count{
    grid-area: blc;
    margin-bottom: 20px;

}
