.nav {
    padding: 15px;
    background: cornflowerblue;
    grid-area: nav;
    border: 1px solid black;

}
.nav a{
    color: bisque;
    text-decoration: none;

}
.nav a:hover{
    color: lightskyblue;
}
.nav a:active{
    color: indianred;
}
.nav div{
    margin-top: 10px;
    border: 1px solid black;
}
