.nav {
    padding: 15px;
    background: cornflowerblue;
    grid-area: nav;
    border: 1px solid black;
}

.nav_link {
    color: bisque;
    text-decoration: none;

}

.nav_link:hover {
    color: lightskyblue;
}

.nav_link:active {
    color: indianred;
}

.nav div {
    margin-top: 15px;
    border: 1px solid black;
}
.active {
    color: indianred;
    text-decoration: none;
}



