.nav {
    padding: 15px;
    background: cornflowerblue;
    grid-area: nav;
    border: 1px solid black;
}

.nav_link {
    color: bisque;
    text-decoration: none;

}

.nav_link:hover {
    color: lightskyblue;
}

.nav_link:active {
    color: indianred;
}

.nav_div {
    margin-top: 15px;
    border: 1px solid black;
}
.active {
    color: indianred;
    text-decoration: none;
}

.nav_users{
    margin-top: 80px;
    border:1px solid black;
    font-size: 25px;

}





.sidebar_header{
    text-align: center;
    color: bisque;
    border: 1px solid black;
    height: max-content;

}
.sidebar{
    color: bisque;
    margin-top: 160px;
    border: 1px solid black;
    padding: 5px;
    height: max-content;
    width: max-content;
}
.sidebar_names{

    display: flex;
}
.sidebar_name{
    margin: 3px;
    border: 1px solid black;
    font-size: 12px;
    padding: 3px;

}
.sidebar_name_img{
    height: 30px;
    margin: 3px;
    width: 30px;
    border: 1px solid black;
}




