.dialogs_names {
    border: 1px solid black;
    height: max-content;
    padding: 5px;


}

.dialogs_name {
    padding: 5px;
    background: gray;
    margin-top: 13px;
    border: 1px solid black;
    height: max-content;
    grid-area: dn;

}

.dialogs_name a {
    text-decoration: none;
    color: bisque;
    font-size: 13px;
}

.dialogs_name a:hover {
    color: lightskyblue;
}

.dialogs_name a:active {
    color: indianred;
}

.dialogs_name .active {
    color: red;
}

.avatar {
    margin: 5px;
    width: 50px;
    border: 1px solid black;
}



